h1 {background: #b3d4fc; color: blue }
h2 {background: aquamarine; color: darkolivegreen}
p {background: #e1dddd; color: blue}
img {min-width: 200px;max-width: 400px}
ul {background: cornsilk; color: darkblue; list-style-type: circle}
